<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robin.usedbookmarketbackend.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.robin.usedbookmarketbackend.model.Category">
    <!--@mbg.generated-->
    <!--@Table category-->
    <id column="categoryID" jdbcType="INTEGER" property="categoryid" />
    <result column="categoryName" jdbcType="VARCHAR" property="categoryname" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    categoryID, categoryName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from category
    where categoryID = #{categoryid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from category
    where categoryID = #{categoryid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="categoryID" keyProperty="categoryid" parameterType="com.robin.usedbookmarketbackend.model.Category" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into category (categoryName)
    values (#{categoryname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="categoryID" keyProperty="categoryid" parameterType="com.robin.usedbookmarketbackend.model.Category" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryname != null">
        categoryName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryname != null">
        #{categoryname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.robin.usedbookmarketbackend.model.Category">
    <!--@mbg.generated-->
    update category
    <set>
      <if test="categoryname != null">
        categoryName = #{categoryname,jdbcType=VARCHAR},
      </if>
    </set>
    where categoryID = #{categoryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.robin.usedbookmarketbackend.model.Category">
    <!--@mbg.generated-->
    update category
    set categoryName = #{categoryname,jdbcType=VARCHAR}
    where categoryID = #{categoryid,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2020-01-16-->
  <select id="findCategoryname" resultType="java.lang.String">
    select categoryName
    from category
  </select>

</mapper>