<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robin.usedbookmarketbackend.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.robin.usedbookmarketbackend.model.Order">
    <!--@mbg.generated-->
    <!--@Table order-->
    <id column="orderID" jdbcType="INTEGER" property="orderid" />
    <result column="userID" jdbcType="INTEGER" property="userid" />
    <result column="orderTime" jdbcType="TIMESTAMP" property="ordertime" />
    <result column="totalPrice" jdbcType="DECIMAL" property="totalprice" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    orderID, userID, orderTime, totalPrice
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from order
    where orderID = #{orderid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from order
    where orderID = #{orderid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.robin.usedbookmarketbackend.model.Order">
    <!--@mbg.generated-->
    insert into order (orderID, userID, orderTime, 
      totalPrice)
    values (#{orderid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{ordertime,jdbcType=TIMESTAMP}, 
      #{totalprice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.robin.usedbookmarketbackend.model.Order">
    <!--@mbg.generated-->
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        orderID,
      </if>
      <if test="userid != null">
        userID,
      </if>
      <if test="ordertime != null">
        orderTime,
      </if>
      <if test="totalprice != null">
        totalPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderid != null">
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="ordertime != null">
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalprice != null">
        #{totalprice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.robin.usedbookmarketbackend.model.Order">
    <!--@mbg.generated-->
    update order
    <set>
      <if test="userid != null">
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="ordertime != null">
        orderTime = #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalprice != null">
        totalPrice = #{totalprice,jdbcType=DECIMAL},
      </if>
    </set>
    where orderID = #{orderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.robin.usedbookmarketbackend.model.Order">
    <!--@mbg.generated-->
    update order
    set userID = #{userid,jdbcType=INTEGER},
      orderTime = #{ordertime,jdbcType=TIMESTAMP},
      totalPrice = #{totalprice,jdbcType=DECIMAL}
    where orderID = #{orderid,jdbcType=INTEGER}
  </update>
</mapper>