<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.robin.usedbookmarketbackend.mapper.TopCategoryMapper">
  <resultMap id="BaseResultMap" type="com.robin.usedbookmarketbackend.model.TopCategory">
    <!--@mbg.generated-->
    <!--@Table top-category-->
    <id column="top-categoryID" jdbcType="INTEGER" property="topCategoryid" />
    <result column="top-categoryName" jdbcType="VARCHAR" property="topCategoryname" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    top-categoryID, top-categoryName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from top-category
    where top-categoryID = #{topCategoryid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from top-category
    where top-categoryID = #{topCategoryid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="top-categoryID" keyProperty="topCategoryid" parameterType="com.robin.usedbookmarketbackend.model.TopCategory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into top-category (top-categoryName)
    values (#{topCategoryname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="top-categoryID" keyProperty="topCategoryid" parameterType="com.robin.usedbookmarketbackend.model.TopCategory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into top-category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="topCategoryname != null">
        top-categoryName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="topCategoryname != null">
        #{topCategoryname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.robin.usedbookmarketbackend.model.TopCategory">
    <!--@mbg.generated-->
    update top-category
    <set>
      <if test="topCategoryname != null">
        top-categoryName = #{topCategoryname,jdbcType=VARCHAR},
      </if>
    </set>
    where top-categoryID = #{topCategoryid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.robin.usedbookmarketbackend.model.TopCategory">
    <!--@mbg.generated-->
    update top-category
    set top-categoryName = #{topCategoryname,jdbcType=VARCHAR}
    where top-categoryID = #{topCategoryid,jdbcType=INTEGER}
  </update>
</mapper>